html{
    height:100%;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height:100%;
    margin:0;
    background-color:blueviolet;
    display:flex;
    justify-content: center;
    align-items:center;
    background-image:url("./IMG_20191103_150243_652.jpg");
    background-size:cover ;
}

.card{
    background-color:white;
    width:650px;
    padding:25px;
    display:flex;
    
}

img{
    width:300px;
}

.card-img{
    margin-right:20px;
    /* background-color:red; */
    
}

.card-green{
    
    background-color: green;
    display:inline-block;
    padding:5px;
    color:#fff;
    font-family: 'Syne', sans-serif;

}

.card-text{
    text-align: left;
    /* background-color:grey; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}


.title{
    margin-top:20px;
    margin-bottom:0;
    font-weight:300px;
    font-size:25px;
    

}

.subtitle{
    margin-top:10px;
    margin-bottom:0;
    color:grey;
    font-weight: 400px;
    
}

.card-text p {
    font-size:15px;
    font-weight:400;
    margin-top:10px;
    margin-bottom: 10px;
    font-family: font-family: 'Montserrat', sans-serif;;
}

.button{
    background-color:grey;
    padding:3px 5px;
    color:white;
    text-decoration: none;

}

.btn-vk{
    background-color:#45668e;
}

.btn-inst{
    background-color:#fd1d1d;
}
